.register {
    width: 980px;;
    margin: 0 auto;
    padding-bottom: 35%;
}

.regTitle {
    width: 100%;
    height: 35px;
    font-size: 25px;
    text-align: center;
    border-bottom: 2px solid #e6e6e6;
}

.regCenter {
    padding: 20px;
}

.regContent {
    width: 415px;
    margin: 0 auto;
    display: flex;
}

.regId {
    flex: 1;
    padding: 10px;
    margin-bottom: 25px;
    border: 1px solid #dfdfdf;
}

.veryCode {
    padding: 10px;
    margin-bottom: 25px;
    margin-right: 20px;
    position: relative;
}
.regSend{
    width:100%;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}
#emailError{
    position: absolute;
    left:470px;
    top:220px;
    color:red;
    font-size: 14px;
    height: 20px;
    line-height:20px;
}
#codeError{
    position: absolute;
    left:470px;
    top:280px;
    color:red;
    font-size: 14px;
    height: 20px;
    line-height:20px;
}
.code_pic{
    display: block;
    width: 207px;
    left: 50%;
    height: 35px;
    line-height: 35px;
    background-color: #34495e;
    color: #FFF;
    border-radius: 5px;
    text-align: center;
}
.regLogin{
    float: right;
    margin:10px 0;
    color: #00a1d6;
}

