<!DOCTYPE html>
<html>
  <head>
    <title><%= opt.title || '西街106号' %></title>
    <link rel="shortcut icon" href="/i/favicon.ico" >
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <%
      (opt.css || []).forEach(function(c) {
      %><link rel="stylesheet" href="<%= c %>" /><%
      });
    %>
    <script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="/js/run.js"></script>
  </head>