<nav>
    <div class="headerBody">
        <span class="logo">快瞧</span>
        <ul>
            <li>
            <a>主页</a>
            </li>
            <li>
            <a>本站推荐</a>
            </li>
            <li>
            <a>视频分类</a>
            </li>
            <li>
            <a>热门搜索</a>
            </li>
            <li>
            <a>*这些是示例*</a>
            </li>
        </ul>
        <div class="navSearch">
            <input placeholder="这里是搜索" />
            <img src="/i/search_icon.png">
        </div>
        <div class="sign">
            <a>
            注册
            </a>
            <a>
            登录
            </a>
        </div>
        <div class="hasSignIn">

        </div>
    </div>
</nav>