<%
  opt={
    css:[
      '/css/index.css',
    ],
  }
%>
<%- include('head')%>
  <body>
<<<<<<< HEAD
    <nav>
      <div class="headerBody">
        <span class="logo">快瞧</span>
        <ul>
          <li>
            <a>主页</a>
          </li>
          <li>
            <a>本站推荐</a>
          </li>
          <li>
            <a></a>
          </li>
          <li>
            <a></a>
          </li>
          <li>
            <a></a>
          </li>
        </ul>
        <div class="navSearch">
          <input placeholder="这个不在主页显示" />
          <img src="/i/search_icon.png" />
        </div>
        <div class="sign">
          <a>
            注册
          </a>
          <a>
            登录
          </a>
        </div>
        <div class="hasSignIn">
          
        </div>
      </div>
    </nav>
    <div style="position:absolute;left:0px;top:0px;color:white;">
      <h1>this is index.ejs</h1>
      <a href="/user">user</a>
      <br />
      <a href="/register">register</a>
      <br />
    </div>
    <div class="level_1">
      <div class="level1cnt">
        <h1>最好用的视频信息聚合网站</h1>
        <div class="searchBox">
          <input placeholder="输入您想看的视频名字" />
          <div class="go">
          GO
          </div>
        </div>
      </div>
    </div>
    <%- include('footer')%>
    <script>
      $('.navSearch input').focus(function(){
        var that = $(this);
        that.animate({'width':'150px'});
        $('.navSearch').animate({'width':'200px','margin-left':'10px'});
      })
      $('.navSearch input').blur(function(){
        var that = $(this);
        that.animate({'width':'100px'});
        $('.navSearch').animate({'width':'150px','margin-left':'60px'});
      })

      $('nav .headerBody .sign').click(function(){
        var that = $(this);
        that.hide();
        $('nav .headerBody .hasSignIn').css('display','inline-block');
      })

      $('nav .headerBody .hasSignIn').click(function(){
        var that = $(this);
        that.hide();
        $('nav .headerBody .sign').css('display','inline-block');
      })
    </script>
  </body>
</html>
