<%- include('header')%>
  <body>
    <h1>this is index.ejs</h1>
    <a href="/user">user</a>
    <a href="/register">register</a>
    <br />
    <div id="reactInsert">
    </div>
  </body>
  <script>
		ReactDOM.render(React.createElement(Index, null), document.getElementById('reactInsert'));
  </script>
</html>
