<%
opt = {
    css: [
        '/css/login.css',
    ]
}
%>
<%- include('head') %>
<body>
    <%- include('header') %>
    <div class="login">
        <div class="loginTitle">登录</div>
        <form class="loginCenter">
            <div class="loginContent">
                <input onblur="validateEmail()" id="loginEmail" class="loginId" placeholder="请输入注册邮箱">
                <p id="emailError"></p>
            </div>
            <div class="loginContent">
                <input onblur="validateKey()"  id='loginKey' style="padding:10px;flex: 1" placeholder="请输入密码">
                <p id="keyError"></p>
            </div>
            <div style="width: 415px;margin: 0 auto;">
                <a class="forget">忘记密码</a>
            </div>
            <div class="loginContent" style="clear: both">
                <input class="veryCode" placeholder="验证码" type="text">
                <span class="code_pic" title="看不清，换一张"></span>
                <p id="codeError"></p>
            </div>
            <div class="loginContent">
                <label> <input class="remeber me" type="checkbox" checked="checked">
                </label>
                <span style="padding-left: 10px;">记住我</span>
            </div>
            <div class="loginContent">
                <input type="submit" class="loginButton" value="登录">
                <a class="regButton" href="/register">注册</a>
            </div>
        </form>
    </div>
    <%- include('footer') %>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>
</body>
</html>
