<%
opt = {
    css: [
        '/css/register.css',
    ],
}
%>
<%- include('head') %>
<body>
    <%- include('header') %>
    <div class="register">
        <div class="regTitle">注册</div>
        <form class="regCenter">
            <div class="regContent">
                <input onblur="validateEmail()" id="regEmail" class="regId" placeholder="请输入常用邮箱">
            </div>
            <p id="emailError"></p>
            <div class="regContent">
                <input id="regKey" class="regId" onblur="validateKey()" placeholder=" 请输入密码(6-16位字符组成，区分大小写）">
            </div>
            <p id="keyError"></p>
            <div class="regContent">
                <input onfocus="changeImg()" onblur="validateCode()" class="veryCode" id="codeInput"
                       placeholder="验证码" type="text">
                <span id="code" class="code_pic" onclick="changeImg()" title="看不清，换一张"></span>
            </div>
            <p id="codeError"></p>
            <div class="regContent">
                <input class="m-r-10" name="agree" id="agree" type="checkbox" onclick="isAgree()" value="1">
                我已同意
                <a target="_blank" href="#">《快瞧网用户使用协议》</a>和
                <a target="_blank" href="#">《快瞧弹幕网账号中心规范》</a>
            </div>
            <div class="regContent">
                <input class="regSend" type="submit" id="emailSend" ng-click="sendEmail()" value="发送验证邮件">
            </div>
            <div style="width: 415px;margin: 0 auto;">
                <a class="regLogin" href="/login">已有账号,直接登陆</a>
            </div>


        </form>
    </div>
    <%- include('footer') %>
    <script type="text/javascript" src="/js/register.js"></script>
</body>
</html>
